<style>
  .createPost {
    display: flex;
    padding-top: 12 px;
    height: 30px;
    width: 100%;
    background-color: aqua;
    border-radius: 10%;
    padding-bottom: 10 px;
    flex-wrap: wrap;
    padding-right: 16 px;
    padding-left: 16 px;
    align-items: center;
  }
  .createPost img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .cpt {
    flex-grow: 1;
    background-color: grey;
    border-radius: 50%;
  }
</style>
<div class="createPost">
  <div>
    <img src="/images/avtar.jpg" alt="" />
  </div>
  <div class="cpt"></div>
</div>
