<div style="margin-bottom: 28%">
<center>
       <b>Hi <%= name%>   </b> 
</center>
<br>


<div class="col-sm-7">

    <img src="/images/avtar.jpg" alt="Avatar" class="avatar">

</div>


<div class="col-sm-5">
    <br> 
    <p> Name : <%= name %>  </p>
    <p id="profile-email"> Email : <%=email%></p>


</div>
</div>


    

        

    
    

        

