<html>
    <head>
        <title>
            codeHub|signIn
        </title>
    </head>
<body>

    <center>
       <b>Welcome bro</b> 
       <br>
       <p id="profile-email"> email : <%=email%></p>

        
    </center>


</body>


</html>