<html>
    <head>
        <title>
            codeHub|signIn
        </title>
    </head>
<body>

    <center>
       <b>Welcome bro</b> 
       <br>
       <p>name : <%= name %></p>
       <p> email : <%=email%></p>
       <button><a href="/user/Logout"> Logout </a> </button>

        
    </center>


</body>


</html>