<html>
    <head>
        <title>
            codeHub|signUp
        </title>
    </head>
<body>

    <center>
       <b>Welcome to signUp page</b> 
       <br>
       <form action="/user/create-user" method="post">
        <input type="text" name="name" id="" placeholder="Enter your name" required="true">
        <input type="email" name="email" id="" placeholder="Enter Your email" required=true>
        <input type="password" name="password" id="" placeholder="Enter your password" required = true>
        <input type="password" name="confirmPassword" id="" placeholder="confirm your password" required = true>
        <input type="submit" value="submit">
     </form>
    </center>


</body>


</html>