<html>
    <head>
        <title>
            codeHub|signIn
        </title>
    </head>
<body>

    <center>
       <b>Welcome to signIn page</b> 
       <br>
        <form action="/user/validate-user" method="POST">
            <input type="email" name="email" id="" placeholder="Enter Your email" required=true>
            <input type="password" name="password" id="" placeholder="Enter your password" required = true>
            <input type="submit" value="submit">
         </form>
    </center>


</body>


</html>